.digit {
  border: 0.2rem solid #cccccc;
  text-align: left;
  padding: 0.5rem;
  min-height: 4.5rem;
  background-color: black;
  color: lightgray;
}

.screen {
  min-width: 100%;
  color: lightgray;
  
  font-size: 2rem;
  padding: 10px;
}

.clear-button {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}